In [2]:
!ls

avazu_sample.txt   data_glancer.ipynb jaychou_lyrics.txt timemachine.txt
criteo_sample.txt  iris               ml-100k            titanic

In [3]:
!cat ml-100k/README

SUMMARY & USAGE LICENSE
=============================================

MovieLens data sets were collected by the GroupLens Research Project
at the University of Minnesota.

This data set consists of:
	* 100,000 ratings (1-5) from 943 users on 1682 movies.
	* Each user has rated at least 20 movies.
        * Simple demographic info for the users (age, gender, occupation, zip)

The data was collected through the MovieLens web site
(movielens.umn.edu) during the seven-month period from September 19th,
1997 through April 22nd, 1998. This data has been cleaned up - users
who had less than 20 ratings or did not have complete demographic
information were removed from this data set. Detailed descriptions of
the data file can be found at the end of this file.

Neither the University of Minnesota nor any of the researchers
involved can guarantee the correctness of the data, its suitability
for any particular purpose, or the validity of results based on the
use of the data set.  The data set may be used for any research
purposes under the following conditions:

     * The user may not state or imply any endorsement from the
       University of Minnesota or the GroupLens Research Group.

     * The user must acknowledge the use of the data set in
       publications resulting from the use of the data set
       (see below for citation information).

     * The user may not redistribute the data without separate
       permission.

     * The user may not use this information for any commercial or
       revenue-bearing purposes without first obtaining permission
       from a faculty member of the GroupLens Research Project at the
       University of Minnesota.

If you have any further questions or comments, please contact GroupLens
<grouplens-info@cs.umn.edu>.

CITATION
==============================================

To acknowledge use of the dataset in publications, please cite the
following paper:

F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets:
History and Context. ACM Transactions on Interactive Intelligent
Systems (TiiS) 5, 4, Article 19 (December 2015), 19 pages.
DOI=http://dx.doi.org/10.1145/2827872


ACKNOWLEDGEMENTS
==============================================

Thanks to Al Borchers for cleaning up this data and writing the
accompanying scripts.

PUBLISHED WORK THAT HAS USED THIS DATASET
==============================================

Herlocker, J., Konstan, J., Borchers, A., Riedl, J.. An Algorithmic
Framework for Performing Collaborative Filtering. Proceedings of the
1999 Conference on Research and Development in Information
Retrieval. Aug. 1999.

FURTHER INFORMATION ABOUT THE GROUPLENS RESEARCH PROJECT
==============================================

The GroupLens Research Project is a research group in the Department
of Computer Science and Engineering at the University of Minnesota.
Members of the GroupLens Research Project are involved in many
research projects related to the fields of information filtering,
collaborative filtering, and recommender systems. The project is lead
by professors John Riedl and Joseph Konstan. The project began to
explore automated collaborative filtering in 1992, but is most well
known for its world wide trial of an automated collaborative filtering
system for Usenet news in 1996.  The technology developed in the
Usenet trial formed the base for the formation of Net Perceptions,
Inc., which was founded by members of GroupLens Research. Since then
the project has expanded its scope to research overall information
filtering solutions, integrating in content-based methods as well as
improving current collaborative filtering technology.

Further information on the GroupLens Research project, including
research publications, can be found at the following web site:

        http://www.grouplens.org/

GroupLens Research currently operates a movie recommender based on
collaborative filtering:

        http://www.movielens.org/

DETAILED DESCRIPTIONS OF DATA FILES
==============================================

Here are brief descriptions of the data.

ml-data.tar.gz   -- Compressed tar file.  To rebuild the u data files do this:
                gunzip ml-data.tar.gz
                tar xvf ml-data.tar
                mku.sh

u.data     -- The full u data set, 100000 ratings by 943 users on 1682 items.
              Each user has rated at least 20 movies.  Users and items are
              numbered consecutively from 1.  The data is randomly
              ordered. This is a tab separated list of
	         user id | item id | rating | timestamp.
              The time stamps are unix seconds since 1/1/1970 UTC

u.info     -- The number of users, items, and ratings in the u data set.

u.item     -- Information about the items (movies); this is a tab separated
              list of
              movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western |
              The last 19 fields are the genres, a 1 indicates the movie
              is of that genre, a 0 indicates it is not; movies can be in
              several genres at once.
              The movie ids are the ones used in the u.data data set.

u.genre    -- A list of the genres.

u.user     -- Demographic information about the users; this is a tab
              separated list of
              user id | age | gender | occupation | zip code
              The user ids are the ones used in the u.data data set.

u.occupation -- A list of the occupations.

u1.base    -- The data sets u1.base and u1.test through u5.base and u5.test
u1.test       are 80%/20% splits of the u data into training and test data.
u2.base       Each of u1, ..., u5 have disjoint test sets; this if for
u2.test       5 fold cross validation (where you repeat your experiment
u3.base       with each training and test set and average the results).
u3.test       These data sets can be generated from u.data by mku.sh.
u4.base
u4.test
u5.base
u5.test

ua.base    -- The data sets ua.base, ua.test, ub.base, and ub.test
ua.test       split the u data into a training set and a test set with
ub.base       exactly 10 ratings per user in the test set.  The sets
ub.test       ua.test and ub.test are disjoint.  These data sets can
              be generated from u.data by mku.sh.

allbut.pl  -- The script that generates training and test sets where
              all but n of a users ratings are in the training data.

mku.sh     -- A shell script to generate all the u data sets from u.data.

In [128]:
import pandas as pd
import numpy as np

In [129]:
data_df = pd.read_csv('./ml-100k/u.data', sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
data_df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [130]:
data_df.describe()

            user_id        item_id         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08

In [131]:
user_num = data_df.user_id.unique().shape[0]
item_num = data_df.item_id.unique().shape[0]
print(user_num, item_num)
print(f'sparsity: {1 - len(data_df)/(user_num*item_num)}')

943 1682
sparsity: 0.9369533063577546

In [32]:
def load_ml100k_data(f_path='./ml-100k/u.data'):
    data = pd.read_csv(f_path, sep='\t', names=['user_id', 'item_id', 'rating', 'timestamp'])
    user_num = data_df.user_id.unique().shape[0]
    item_num = data_df.item_id.unique().shape[0]
    user_idx = []
    item_idx = []
    inter = np.zeros((user_num, item_num))
    for _, user_id, item_id, rating, timestamp in data_df.itertuples():
        user_idx.append(int(user_id-1))
        item_idx.append(int(item_id-1))
        inter[int(user_id-1), int(item_id-1)] = rating
    return user_idx, item_idx, inter

In [68]:
user_idx, item_idx, inter = load_ml100k_data()
inter.shape

(943, 1682)

In [132]:
col_names = ['user_id', 'age', 'gender', 'occupation', 'zipcode']
user_df = pd.read_csv('./ml-100k/u.user', sep='|', names=col_names)
user_df.head()

   user_id  age gender  occupation zipcode
0        1   24      M  technician   85711
1        2   53      F       other   94043
2        3   23      M      writer   32067
3        4   24      M  technician   43537
4        5   33      F       other   15213

In [134]:
genres = ['unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 
          'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
          'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 
          'Sci-Fi', 'Thriller', 'War', 'Western']
col_names = ['item_id', 'movie_title', 'release date', 'video_release_date', 'IMDb_URL', 
             'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 
             'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
             'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 
             'Sci-Fi', 'Thriller', 'War', 'Western']
item_df = pd.read_csv('./ml-100k/u.item', sep='|', encoding = 'ISO-8859-1', names=col_names)
item_df.head()

,item_id,movie_title,release date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [50]:
# find encoding problems
f = open("./ml-100k/u.item","rb")#二进制格式读文件
i = 0
while True:
    i += 1 
    #print(i)
    line = f.readline()
    if not line:
        break
    else:
        try:
#             print(line)
#             print(line.decode('utf8'))
            line.decode('utf8')
            #为了暴露出错误，最好此处不print
        except:
            print(i, str(line))

543 b'543|Mis\xe9rables, Les (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Mis%E9rables%2C%20Les%20%281995%29|0|0|0|0|0|0|0|0|1|0|0|0|1|0|0|0|0|0|0\n'
1005 b'1005|Double vie de V\xe9ronique, La (Double Life of Veronique, The) (1991)|01-Jan-1991||http://us.imdb.com/M/title-exact?Podwojne%20zycie%20Weroniki%20(1991)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0\n'
1104 b"1104|C'est arriv\xe9 pr\xe8s de chez vous (1992)|01-Jan-1992||http://us.imdb.com/M/title-exact?C%27est%20arriv%E9%20pr%E8s%20de%20chez%20vous%20%281992%29|0|0|0|0|0|1|1|0|1|0|0|0|0|0|0|0|0|0|0\n"
1233 b'1233|N\xe9nette et Boni (1996)|01-Jan-1996||http://us.imdb.com/Title?N%E9nette+et+Boni+(1996)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0\n'
1252 b'1252|Contempt (M\xe9pris, Le) (1963)|27-Jun-1997||http://us.imdb.com/M/title-exact?M%E9pris%2C+Le+(1963)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0\n'
1322 b'1322|Metisse (Caf\xe9 au Lait) (1993)|01-Jan-1993||http://us.imdb.com/Title?M%E9tisse+(1993)|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0|0|0|0\n'
1366 b'1366|JLG/JLG - autoportrait de d\xe9cembre (1994)|01-Jan-1994||http://us.imdb.com/M/title-exact?JLG/JLG%20-%20autoportrait%20de%20d%E9cembre%20%281994%29|0|0|0|0|0|0|0|1|1|0|0|0|0|0|0|0|0|0|0\n'
1623 b'1623|C\xe9r\xe9monie, La (1995)|20-Dec-1996||http://us.imdb.com/M/title-exact?C%E9r%E9monie%2C%20La%20%281995%29|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0\n'
1633 b'1633|\xc1 k\xf6ldum klaka (Cold Fever) (1994)|08-Mar-1996||http://us.imdb.com/Title?%C1+k%F6ldum+klaka+(1994)|0|0|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0\n'

In [ ]:
def load_ml100k_data_extra(f_path='./ml-100k/u.data'):
    col_names = ['user_id', 'item_id', 'rating', 'timestamp']
    data = pd.read_csv(f_path, sep='\t', names=col_names)
    
    col_names = ['user_id', 'age', 'gender', 'occupation', 'zipcode']
    user_df = pd.read_csv('./ml-100k/u.user', sep='|', names=col_names)
    
    col_names = ['movie_id', 'movie_title', 'release date', 'video_release_date', 'IMDb_URL', 
             'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 
             'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
             'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 
             'Sci-Fi', 'Thriller', 'War', 'Western']
    item_df = pd.read_csv('./ml-100k/u.item', sep='|', encoding = 'ISO-8859-1', names=col_names)

    user_num = data_df.user_id.unique().shape[0]
    item_num = data_df.item_id.unique().shape[0]
    user_idx = []
    item_idx = []
    inter = np.zeros((user_num, item_num))
    for _, user_id, item_id, rating, timestamp in data_df.itertuples():
        user_idx.append(int(user_id-1))
        item_idx.append(int(item_id-1))
        inter[int(user_id-1), int(item_id-1)] = rating
    return user_idx, item_idx, inter

### Make joinned data

In [159]:
join_df = data_df.merge(user_df, on='user_id', how='left').merge(item_df, on='item_id', how='left')
join_df.head()

,user_id,item_id,rating,timestamp,age,gender,occupation,zipcode,movie_title,release date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49,M,writer,55105,Kolya (1996),24-Jan-1997,...,0,0,0,0,0,0,0,0,0,0
1,186,302,3,891717742,39,F,executive,00000,L.A. Confidential (1997),01-Jan-1997,...,0,1,0,0,1,0,0,1,0,0
2,22,377,1,878887116,25,M,writer,40206,Heavyweights (1994),01-Jan-1994,...,0,0,0,0,0,0,0,0,0,0
3,244,51,2,880606923,28,M,technician,80525,Legends of the Fall (1994),01-Jan-1994,...,0,0,0,0,0,1,0,0,1,1
4,166,346,1,886397596,47,M,educator,55113,Jackie Brown (1997),01-Jan-1997,...,0,0,0,0,0,0,0,0,0,0

In [166]:
join_df.to_csv('ml-100k-joined.csv', index=None, encoding='utf8')

In [162]:
!head ../ml-100k-joined.csv

,user_id,item_id,rating,timestamp,age,gender,occupation,zipcode,movie_title,release date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49,M,writer,55105,Kolya (1996),24-Jan-1997,,http://us.imdb.com/M/title-exact?Kolya%20(1996),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,186,302,3,891717742,39,F,executive,00000,L.A. Confidential (1997),01-Jan-1997,,http://us.imdb.com/M/title-exact?L%2EA%2E+Confidential+(1997),0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0
2,22,377,1,878887116,25,M,writer,40206,Heavyweights (1994),01-Jan-1994,,http://us.imdb.com/M/title-exact?Heavyweights%20(1994),0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,244,51,2,880606923,28,M,technician,80525,Legends of the Fall (1994),01-Jan-1994,,http://us.imdb.com/M/title-exact?Legends%20of%20the%20Fall%20(1994),0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,1
4,166,346,1,886397596,47,M,educator,55113,Jackie Brown (1997),01-Jan-1997,,http://us.imdb.com/M/title-exact?imdb-title-119396,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
5,298,474,4,884182806,44,M,executive,01581,Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963),01-Jan-1963,,http://us.imdb.com/M/title-exact?Dr.%20Strangelove%20or:%20How%20I%20Learned%20to%20Stop%20Worrying%20and%20Love%20the%20Bomb%20(1963),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
6,115,265,2,881171488,31,M,engineer,17110,"Hunt for Red October, The (1990)",01-Jan-1990,,http://us.imdb.com/M/title-exact?Hunt+for+Red+October%2C+The+(1990),0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
7,253,465,5,891628467,26,F,librarian,22903,"Jungle Book, The (1994)",01-Jan-1994,,"http://us.imdb.com/M/title-exact?Jungle%20Book,%20The%20(1994)",0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
8,305,451,3,886324817,23,M,programmer,94086,Grease (1978),01-Jan-1978,,http://us.imdb.com/M/title-exact?Grease%20(1978),0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0

In [165]:
!ls

avazu_sample.txt   data_glancer.ipynb jaychou_lyrics.txt timemachine.txt
criteo_sample.txt  iris               ml-100k            titanic